body{
    background-image: url("E:\people.jpg");
}
.sty1{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid blanchedalmond;
    background-color: rgba(173,216,230,0.5);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.style{
    padding-top: 20px;
}
.box1 input{
    width: 400px;
    padding: 15px;
    margin-left: 28px;
    margin-top: 10px;
}
input[type="text"]{
    border: none;
    background-color: white;
}
input[type="text"]:focus
{
    color: lightblue;
    outline: none;
}
input[type="email"]
{
    background-color: white;
    border: none;
}
input[type="email"]:focus
{
    color: lightblue;
    outline: none;
}
.box2 input{
    padding: 15px;
    width: 400px;
    margin-left: 28px;
    margin-top: 10px;
}
select{
    width: 430px;
    margin-left: 28px;
    margin-top: 10px; 
    padding: 15px; 
    background-color: white;
}
input[type="submit"]{
    width: 87%;
    padding: 10px;
    border: none;
    background-color: coral;
    color: beige;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
}
input[type="reset"]{
    width: 87%;
    padding: 10px;
    border: none;
    background-color: coral;
    color: beige;
    margin-top:10px ;
    margin-left:25px;
    cursor: pointer;
}
